/*
Cascading Style sheet File
*/
body {
    max-width: 1440px;
    margin: 0 auto;
}


/* Header Section */
header{
    background-image:url(./Assets/Hero-bg.png);
    height:698px;
    width: 1440px;
    margin: 0 auto;
    border-radius: 10px;
}

.header-content{
    display:flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    height:200px;
    padding: 45px;
}
.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
     font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration-thickness: bold;
    color: #6366f1;
           
}
.btn {
    background: #6366f1;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
   
}
.hero-section {
   display: block;
   text-align: center;
}
.hero-section h2{
    font-family: Raleway, Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;

}
.hero-section-btn{
    background: #6366f1;
    color: white;
    border: none;
     font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.action-center{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
   
}

.article-headline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    color: #252432 ;
}
.article-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: #8D8E99 ;
} 

.action-center img{
    border-radius: 35px;
}

.stats-section{
    background-color: #E5E7FF;
    border-radius: 25px;
   
}
.stats-header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 25px;
    text-align: center;
}
.stats-box{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 10px;
    padding-bottom: 30px;

}
 .stats-data{
    display: block;
 }

.stats-text01{
    font-family: Arial, Helvetica, sans-serif;
    color:#6366f1;
    font-weight: 800;
    font-size: 55px;
    display: block;
}

.stats-text02{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: #8D8E99 ;
}


.user-review{
   
}
.user-review-headline {
   font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding: 25px;
    text-align: center;
}

.review-container{
    display: flex;
    justify-content: center;
    
}
.review-data {
    display: inline-block;
    border: 5px #f5f8ff solid;
    
   
}
      
.star-ico{

}
         
.review-title{
    font-size: medium;
    
}
     
.review-info{
    font-size: small;
    
}
      
.review-name{

}
.review-date{

}

.focus {
    display: block;
   text-align: center;
}

.focus img{
    border-radius: 35px;
    margin-top: 10px;
}

.contact-form {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #f5f8ff;
    height: 600px;

}

.contact-headline{
    font-family: Raleway, Georgia, 'Times New Roman', Times, serif;
    font-size: 97px;
    width: 60%;
    color: #252432;
}

.form-style label{
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #252432;
    line-height: 1.5;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

.form-style button{
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
     width: 100%;
    background: #6366f1;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    
}


.footer-logo{
    text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    font-weight:800;
    text-transform: uppercase;
    text-decoration: double;
    text-decoration-thickness: 500;
    color: #6366f1;
}
.footer-text{
    text-align: center;
}

.footer-links{
    text-align: center;
}

.footer-menu ul{
    display: flex;
    justify-content: center;
}

.footer-menu li{
    list-style: none;
    margin: 10px;
}
.footer-menu a{
    text-decoration: none;
}